.navbar {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  margin: 10px 30px;
}

.navbar-right {
  margin-left: 421px;
}

.navbar-nav li .nav-link {
  color: #272D4E !important;
}

.navbar-nav li:first-child {
  margin-left: 80px;
}

.navbar-search a {
  margin-left: 20px;
}

.navbar-search .login {
  text-decoration: none;
  color: #272D4E !important;
}

.navbar-search .start-btn {
  background: #7854F7 !important;
  color: white !important;
  display: inline-block;
}

.navbar-search .search-btn {
  display: inline-block;
  color: #272D4E;
}

#intro {
  background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  height: 100vh;
}

#intro {
  padding: 180px 0;
  height: 120vh;
  background: url("/assets/images/hero_section.png");
  background-size: cover;
}

#intro .content h1 {
  color: #272D4E;
  font-weight: 700;
  margin-top: 40px;
}

#intro .content p {
  padding: 15px 0;
  color: #94A2B3;
}

#intro .content .start-btn {
  background-color: #7854F7;
  border: none;
  padding: 15px 50px;
  border-radius: 30px;
}
