#commercy{
    margin-bottom: 100px;
    h1{
        color: #272D4E;
        text-align: center;
        padding: 0 35%;
        font-family: sans-serif;
        font-weight: bold;
    }
    .commerce{
        padding-left: 20px;
        img{
            max-width: 100%;
        }
        h3{
            color: #272D4E;
            font-size: 25px;
        }
        p{
            color: #94A2B3;
            font-size: 14px;
        }
        a{
            font-weight: 700;
            color: #299EF3;
        }
    }
}