
#cta{
    margin-top: -197px;
    .cta{
        background: #5F37EF;
        padding: 50px 0;
        .cta-text{
            color: white;
            font-size: 25px;
            text-align: left;
        }
        a{
            padding: 12px 40px;
        }
    }
}