#support{
    margin-top: 80px;
    height: 90vh;
    background: url("/04-05-2021-Mircavid12/assets/images/support.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    h1{
        text-align: center;
        color: #272D4E;
        font-weight: bold;
    }
    p{
        color:#94A2B3;
        text-align: center;
        font-size: 14px;
        padding: 20px 26%;
    }
    
}
