#testimonials{
    height: 120vh;
    background: url("/04-05-2021-Mircavid12/assets/images/testimonials-section.png");
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        color: #272D4E;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
    }
    p{
        text-align: center;
        padding: 245px 32%;
        color: #94A2B3;
        font-size: 20px;
    }
}